@charset "UTF-8";

html {
  font-size: 100%;
}

image {
  max-width: 100%;
}

header {
  background-color: whitesmoke;
  padding: 20px;
}

.content h2 {
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  font-family: 'Vollkorn', serif;
}

.main {
  background-image: url("images/mac2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.main h1 {
  text-align: center;
  color: aliceblue;
  font-size: 90px;
  font-family: 'Cormorant Garamond', serif;
}

.main h1.my-name {
  padding-top: 50px;
}

.main h1.portfolio {
  padding-top: 300px;
}
.flex-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list a {
  color: black;
  font-size: 25px;
  font-family: 'Vollkorn', serif;
  transition-duration: 400ms;
  transition-property: color;
}

.list a:hover {
  text-decoration: none;
  color: #660000;
  cursor: pointer;
}

.profile {
  padding-bottom: 60px;
}

.skill {
  padding-bottom: 60px;
  background-color: whitesmoke;
}

.works {
  padding-bottom: 60px;
}

.contact {
  padding-bottom: 60px;
  background-color: whitesmoke;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: black;
  opacity: 0.6;
}

.flex-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 45%;
  text-align: justify;
  font-size: large;
}

.left-content h3, .right-content h3 {
  text-align: center;
  padding-bottom: 15px;
}

.left-content p, .right-content p {
  line-height: 1.7;
}

.right-content p {
  padding-left: 180px;
}

.right-content {
  width: 45%;
  font-size: larger;
}

.skill .skill-index {
  width: 60%;
  margin: 0 auto;
}

.skill-index h3{
  text-align: center;
  margin-top: 60px;
}

.skill-index h3 span {
  border-bottom: 3px solid #660000;
}

.skill-index p {
  font-size: large;
  text-align: justify;
  line-height: 1.7;
}

.works-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-rows: 500px 500px;
}

.works-item {
  background-color: whitesmoke;
  text-align: center;
  padding-top: 15px;
}

.works-item img {
  border: solid 1px black;
  margin-bottom: 10px;
}

.contact {
  text-align: center;
}

.contact img {
  border-radius: 50%;
}

.twitter {
  color: rgba(29,161,242,1.00);
  margin-right: 80px;
}

.mail {
  color: brown;
}

.contact p {
  margin-top: 20px;
}


/* モバイル */
@media (max-width: 600px) {

  .flex-list {
    flex-direction: column;
  }

  .main {
    background-image: url("images/mobile2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }

  .flex-content {
    flex-direction: column;
  }
  
  .right-content,
  .left-content {
    width: 90%;
    margin: 0 auto;
  }

  .right-content {
    margin-top: 20px;
  }

  .right-content p {
    padding: 0px;
    text-align: center;
  }

  .works-container {
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
  }

  .contact p {
    width: 90%;
    margin: 0 auto;
  }
}
